*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

@font-face {
    font-family: "Aristotelica";
    src: url("./assets/Fonts/AristotelicaSmallCaps-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Arista";
    src: url("./assets/Fonts/z-arista.alternate.ttf") format("truetype");
}